#errorResponse {
    display: none;
    color: var(--text-color);
    background-color: rgba(255, 82, 82, 0.7);
    padding: clamp(0.5rem, 1.5vh, 0.8rem) clamp(0.8rem, 2vw, 1.2rem);
    border-radius: 8px;
    margin: clamp(0.5rem, 1.5vh, 1rem) auto;
    text-align: center;
    width: clamp(200px, 80%, 400px);
    font-size: clamp(0.8rem, 1vw, 0.9rem);
    position: relative;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(255, 82, 82, 0.2);
    font-weight: bold;
}

#errorResponse.show {
    display: block;
}
